.a
    {
       color: red;
       border-radius: 20px;
       outline: 3px solid red;
       margin-right: 20px;
    }
    .b 
    {
      color: green;
      border-radius: 20px;
      outline: 3px solid green;
      margin-right: 20px;
    }
    .c
    {
      color: blue;
      border-radius: 20px;
      outline: 3px solid blue;
      margin-right: 20px;
    }
    .d
    {
      color: magenta;
      border-radius: 20px;
      outline: 3px solid magenta;
      margin-left: 0;
    }
    .e
    {
     text-shadow: 2px 2px 2px cyan;
     
    }
    .f
    {
      border: 3px solid black;
    }
    